html {
  background-image: url('./drum_kit.jpg');
  background-size: cover;
  color: white;
}

.keys {
  margin-top: 15%;
  text-align: center;
  width: 100%;
}

.key {
  border: .2em solid white;
  height: 90px;
  width: 90px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .07s ease;
}

kbd {
  display: block;
  font-size: 4em;
}

span {
  font-family: monospace;
  font-size: 1.5em;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  color: #ffc600;
}
